* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.main-header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  position: relative;
  position: absolute;
  z-index: 10;
}
.main-header .overhead-bar {
  width: 0%;
  height: 0.2rem;
  background-color: #e00b25;
  border-radius: 3px;
  position: absolute;
  position: fixed;
  z-index: 50;
  transition: all 1s ease-in-out;
}
.main-header .logo-wrapper {
  width: 13rem;
  height: 2rem;
  position: absolute;
  align-self: center;
  transition: all 0.4s ease-in-out;
  translate: 0 -5rem;
  z-index: 1;
}
.main-header .logo-wrapper .logo {
  width: 100%;
  height: 100%;
}

.menu-btn-wrapper {
  width: 170px;
  height: 90px;
  position: relative;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper {
    top: 0;
    height: 7rem;
    position: absolute;
    width: 100%;
    left: initial;
    right: initial;
  }
}
.menu-btn-wrapper .menu-btn-border {
  position: relative;
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 240, 240);
  border-radius: 50%;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  translate: 0 100px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn-border {
    background-color: transparent;
    left: 5%;
    translate: 0 -100px;
  }
}
.menu-btn-wrapper .menu-btn-border .menu-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 50;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn-border .menu-btn {
    position: absolute;
    left: 5%;
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: transparent;
  }
}
.menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-mid {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-mid {
    display: none;
  }
}
.menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-top {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 0px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-top {
    top: 3.5px;
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-btm {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease-in-out;
  bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn-border .menu-btn .menu-btn-burger-btm {
    bottom: 3.5px;
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-btn.open .menu-btn-burger-mid {
  background-color: transparent;
}
.menu-btn-wrapper .menu-btn.open .menu-btn-burger-top {
  rotate: -45deg;
  translate: 0 9px;
}
.menu-btn-wrapper .menu-btn.open .menu-btn-burger-btm {
  rotate: 45deg;
  translate: 0 -9px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-btn.open .menu-btn-burger-top {
    translate: 0 5px;
    background-color: black;
  }
  .menu-btn-wrapper .menu-btn.open .menu-btn-burger-btm {
    translate: 0 -5px;
    background-color: black;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper {
  width: 0px;
  height: 40px;
  background-color: rgb(233, 230, 230);
  position: absolute;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  translate: 0 100px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper {
    right: 5%;
    width: 170px;
    translate: 0 -100px;
    background-color: transparent;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper {
  display: inline-block;
  display: flex;
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper {
    display: initial;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper .account-head {
  width: 12px;
  height: 12px;
  border: 3px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper .account-head {
    border-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper .account-body {
  width: 25px;
  height: 25px;
  border: 3px solid #000;
  border-radius: 40%;
  position: absolute;
  bottom: -15px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-account-wrapper .account-body {
    border-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper {
  display: inline-block;
  display: flex;
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  left: 20px;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper {
    left: 70px;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper .loop-curcle {
  width: 23px;
  height: 23px;
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper .loop-curcle {
    border-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper .loop-handle {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  background-color: #000;
  bottom: 5px;
  right: -1px;
  rotate: 45deg;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-loop-wrapper .loop-handle {
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper {
  display: inline-block;
  display: flex;
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  right: 20px;
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-handle {
  width: 10px;
  height: 6px;
  border: 3px solid #000;
  border-bottom: 0;
  position: absolute;
  top: 5px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-handle {
    border-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-mid {
  width: 29px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 10px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-mid {
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-side-left {
  width: 2px;
  height: 15px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  bottom: 5px;
  transition: all 0.3s ease-in-out;
  left: 1px;
  rotate: -10deg;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-side-left {
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-side-right {
  width: 2px;
  height: 15px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  bottom: 5px;
  transition: all 0.3s ease-in-out;
  right: 1px;
  rotate: 10deg;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-side-right {
    background-color: #fff;
  }
}
.menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-btm {
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  bottom: 4px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-btn-wrapper .menu-loop-basket-wrapper .menu-basket-wrapper .basket-btm {
    background-color: #fff;
  }
}

.main-menu {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu {
    bottom: initial;
    left: 0;
    height: 100%;
    width: 0%;
  }
}
.main-menu .main-menu-nav {
  width: 100%;
  position: absolute;
  top: 15rem;
}
.main-menu .main-menu-nav .main-menu-main-nav-border-line {
  display: inline-block;
  position: relative;
  width: 90%;
  height: 0.2rem;
  background-color: #d2d2d2;
  left: 5%;
  transition: all 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item {
  width: 100%;
  height: 10rem;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-nav {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -100%;
  transition: all 0.3s ease-in-out;
  width: 10%;
  margin-left: 5%;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-nav .arrow-line-main-menu-nav {
  border-radius: 1.5rem;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-nav .arrow-line-point-up-main-menu-nav {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: 45deg;
  translate: 1rem -0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-nav .arrow-line-point-down-main-menu-nav {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: -45deg;
  translate: 1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-nav-item-text {
  font-size: 3rem;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-clothing {
  width: 100%;
  height: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 100%;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  z-index: 10;
  background-image: url(/Mammut-responsive/slike/main-menu-background/clothing.txt);
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-clothing {
    width: 0;
    height: 100vh;
    left: 100%;
    transition: width 0.4s ease-in-out;
  }
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-clothing {
    margin-top: -25rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-clothing.open {
  height: 100rem;
  z-index: 20;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-clothing.open {
    height: 100vh;
    width: 33.3333333333vw;
    z-index: 20;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-footwear {
  width: 100%;
  height: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 100%;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  z-index: 10;
  background-image: url(/Mammut-responsive/slike/main-menu-background/footwear.txt);
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-footwear {
    width: 0;
    height: 100vh;
    left: 100%;
    transition: width 0.4s ease-in-out;
  }
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-footwear {
    margin-top: -35.5rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-footwear.open {
  height: 100rem;
  z-index: 20;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-footwear.open {
    height: 100vh;
    width: 33.3333333333vw;
    z-index: 20;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-equipment {
  width: 100%;
  height: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 100%;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  z-index: 10;
  background-image: url(/Mammut-responsive/slike/main-menu-background/equipment.txt);
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-equipment {
    width: 0;
    height: 100vh;
    left: 100%;
    transition: width 0.4s ease-in-out;
  }
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-equipment {
    margin-top: -46.4rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-equipment.open {
  height: 100rem;
  z-index: 20;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-equipment.open {
    height: 100vh;
    width: 33.3333333333vw;
    z-index: 20;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-background-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  overflow: auto;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-background-cover {
    overflow: visible;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-nav-item {
  display: inline-block;
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
  position: relative;
  z-index: 30;
  transition: all 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-nav-item-equipment {
  display: inline-block;
  width: 100%;
  height: 10rem;
  margin-top: 0.5rem;
  position: relative;
  z-index: 30;
  transition: all 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-border-line {
  display: inline-block;
  width: 95%;
  height: 0.2rem;
  border-radius: 2px;
  background-color: #80898d;
  position: relative;
  margin-left: 2.5%;
  transition: all 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-sub-extention {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -100%;
  transition: all 0.3s ease-in-out;
  width: 10%;
  height: 7rem;
  position: absolute;
  bottom: 0;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-sub-extention .arrow-line-main-menu-sub-extention {
  border-radius: 1.5rem;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-sub-extention .arrow-line-point-up-main-menu-sub-extention {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: 45deg;
  translate: 1rem -0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.main-menu .main-menu-nav .main-menu-nav-item .arrow-container-main-menu-sub-extention .arrow-line-point-down-main-menu-sub-extention {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: -45deg;
  translate: 1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-nav-item-text {
  font-size: 2.8rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-left: 5%;
  position: absolute;
  bottom: 10%;
  white-space: nowrap;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-extention-nav-item-text-equipment {
  font-size: 2.8rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-left: 5%;
  position: absolute;
  bottom: 20%;
  white-space: nowrap;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-shop-by-activity {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  top: 100%;
  z-index: 30;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-shop-by-activity {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -21rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-shop-by-activity.open {
  height: 40rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-shop-by-activity.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-men {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 30;
  top: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-men {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -42.5rem;
    z-index: 30;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-men.open {
  height: 55rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-men.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-women {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-women {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -63.4rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-women.open {
  height: 55rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-clothing-women.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-shop-by-activity {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  z-index: 15;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-shop-by-activity {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -21.5rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-shop-by-activity.open {
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-shop-by-activity.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-men {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-men {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -42.5rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-men.open {
  height: 40rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-men.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-women {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-women {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -63.6rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-women.open {
  height: 35rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-footwear-women.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-equipment-shop-by-activity {
  width: 100%;
  height: 0;
  transition: height 0.4s ease-in-out;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-equipment-shop-by-activity {
    width: 0;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    left: 100%;
    margin-top: -10.5rem;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-equipment-shop-by-activity.open {
  height: 50rem;
}
@media screen and (min-width: 1024px) {
  .main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-equipment-shop-by-activity.open {
    height: 100vh;
    width: 33.3333333333vw;
  }
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-item {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  height: 7rem;
  z-index: 30;
}
.main-menu .main-menu-nav .main-menu-nav-item .main-menu-sub-sub-nav-border-line {
  display: inline-block;
  width: 90%;
  height: 0.2rem;
  border-radius: 2px;
  margin-left: 5%;
  background-color: #000;
  z-index: 30;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item:hover .arrow-container-main-menu-sub-extention {
  translate: 0;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item:hover .arrow-container-main-menu-sub-extention .arrow-line-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item:hover .arrow-container-main-menu-sub-extention .arrow-line-point-up-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item:hover .arrow-container-main-menu-sub-extention .arrow-line-point-down-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item:hover .main-menu-sub-extention-nav-item-text {
  translate: 4rem;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item-equipment:hover .arrow-container-main-menu-sub-extention {
  translate: 0;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item-equipment:hover .arrow-container-main-menu-sub-extention .arrow-line-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item-equipment:hover .arrow-container-main-menu-sub-extention .arrow-line-point-up-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item-equipment:hover .arrow-container-main-menu-sub-extention .arrow-line-point-down-main-menu-sub-extention {
  background-color: #fff;
}
.main-menu .main-menu-nav .main-menu-sub-extention-nav-item-equipment:hover .main-menu-sub-extention-nav-item-text-equipment {
  translate: 4rem;
}
.main-menu .main-menu-nav .main-menu-nav-item:hover .arrow-container-main-menu-nav {
  translate: 0;
}
.main-menu .main-menu-nav .main-menu-nav-item:hover .arrow-container-main-menu-nav .arrow-line-main-menu-nav {
  background-color: #000;
}
.main-menu .main-menu-nav .main-menu-nav-item:hover .arrow-container-main-menu-nav .arrow-line-point-up-main-menu-nav {
  background-color: #000;
}
.main-menu .main-menu-nav .main-menu-nav-item:hover .arrow-container-main-menu-nav .arrow-line-point-down-main-menu-nav {
  background-color: #000;
}
.main-menu .main-menu-nav .main-menu-nav-item:hover .main-menu-nav-item-text {
  translate: 4rem;
}
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-clothing,
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-footwear,
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-equipment {
  width: 0;
  height: 100vh;
  position: absolute;
  z-index: inherit;
  background-color: #fff;
  left: 100%;
  transition: width 0.4s ease-in-out;
}
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-clothing.open,
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-footwear.open,
.main-menu .main-menu-nav .main-menu-sub-sub-extention-background-equipment.open {
  width: 33.3333333333vw;
}

.main-menu.open {
  height: 100%;
  position: absolute;
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .main-menu.open {
    height: 100%;
    width: 33.3333333333%;
  }
}

.main-menu.scroll {
  overflow: auto;
}

.hero-up {
  width: 100%;
  height: 170vh;
  position: absolute;
  position: relative;
  background-color: #23293c;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .hero-up {
    height: 95vh;
    width: 100%;
  }
}
.hero-up .hero-img-wrapper-up {
  width: 100%;
  height: 68%;
  background-image: url(/Mammut-responsive/slike/hero-background/hero-background-up.txt);
  background-size: cover;
  background-position: center;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .hero-up .hero-img-wrapper-up {
    height: 100%;
    width: 68%;
  }
}
.hero-up .hero-content-wrapper-up {
  width: 100%;
  height: 32%;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 1024px) {
  .hero-up .hero-content-wrapper-up {
    height: 100%;
    width: 32%;
    position: relative;
    position: absolute;
    right: 0;
  }
}
.hero-up .hero-content-wrapper-up .hero-title-up {
  font-size: 4.5rem;
  color: #fff;
  position: absolute;
  left: 5%;
  top: 20%;
}
@media screen and (min-width: 1024px) {
  .hero-up .hero-content-wrapper-up .hero-title-up {
    top: 20%;
    width: 70%;
    right: 0;
  }
}
.hero-up .hero-content-wrapper-up .hero-text-up {
  width: 60%;
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  left: 5%;
  top: 40%;
}
@media screen and (min-width: 1024px) {
  .hero-up .hero-content-wrapper-up .hero-text-up {
    width: 90%;
  }
}
.hero-up .hero-content-wrapper-up .class-list {
  width: 300px;
  height: 4rem;
  position: relative;
  position: absolute;
  display: flex;
  left: 5%;
  top: 60%;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .hero-up .hero-content-wrapper-up .class-list {
    left: 5%;
    top: 55%;
  }
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item {
  width: 100px;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item .arrow-container-hero {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -100%;
  transition: all 0.3s ease-in-out;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item .arrow-container-hero .arrow-line-hero {
  border-radius: 1.5rem;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item .arrow-container-hero .arrow-line-point-up-hero {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: 45deg;
  translate: 1rem -0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item .arrow-container-hero .arrow-line-point-down-hero {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: -45deg;
  translate: 1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item .class-list-item-text {
  font-size: 1.3rem;
  color: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item:hover .arrow-container-hero {
  translate: 0;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item:hover .arrow-container-hero .arrow-line-hero {
  background-color: #fff;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item:hover .arrow-container-hero .arrow-line-point-up-hero {
  background-color: #fff;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item:hover .arrow-container-hero .arrow-line-point-down-hero {
  background-color: #fff;
}
.hero-up .hero-content-wrapper-up .class-list .class-list-item:hover .class-list-item-text {
  translate: 3.5rem;
}

.category-container {
  width: 100%;
  height: 85vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .category-container {
    height: 45vh;
  }
}
.category-container .category-container-heading {
  font-size: 2.5rem;
  color: #000;
  margin: 7rem 4rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .category-container .category-container-heading {
    width: 30%;
    position: absolute;
    left: 0;
  }
}
.category-container .category-card-wrapper {
  width: 100%;
  height: 30%;
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .category-container .category-card-wrapper {
    width: 65%;
    height: 50%;
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 1366px) {
  .category-container .category-card-wrapper {
    height: 70%;
  }
}
.category-container .category-card-wrapper .category-card-left {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  background-image: url(/Mammut-responsive/slike/category-card-backround/clothing.txt);
  background-size: cover;
  background-position: center;
}
.category-container .category-card-wrapper .category-card-mid {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  background-image: url(/Mammut-responsive/slike/category-card-backround/footwear.txt);
  background-size: cover;
  background-position: center;
}
.category-container .category-card-wrapper .category-card-right {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  background-image: url(/Mammut-responsive/slike/category-card-backround/equipment.txt);
  background-size: cover;
  background-position: center;
}

.hero-mid {
  width: 100%;
  height: 90vh;
  position: absolute;
  position: relative;
  background-color: #23293c;
  display: flex;
}

.gender-category-container {
  width: 100%;
  height: 230vh;
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .gender-category-container {
    height: 95vh;
  }
}
.gender-category-container .gender-category-card-men {
  width: 90%;
  height: 90vh;
  border: 1px solid black;
  position: absolute;
  background-image: url(/Mammut-responsive/slike/gender-category-background/men.txt);
  background-size: cover;
  background-position: center;
  top: 20vh;
}
@media screen and (min-width: 1024px) {
  .gender-category-container .gender-category-card-men {
    height: 70vh;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .gender-category-container .gender-category-card-men {
    left: 7%;
    top: 5vh;
  }
}
.gender-category-container .gender-category-card-women {
  width: 90%;
  height: 90vh;
  border: 1px solid black;
  position: absolute;
  background-image: url(/Mammut-responsive/slike/gender-category-background/women.txt);
  background-size: cover;
  background-position: center;
  bottom: 20vh;
}
@media screen and (min-width: 1024px) {
  .gender-category-container .gender-category-card-women {
    height: 70vh;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .gender-category-container .gender-category-card-women {
    right: 7%;
    bottom: 5vh;
  }
}

.hero-btm {
  width: 100%;
  height: 170vh;
  position: absolute;
  position: relative;
  background-color: #23293c;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .hero-btm {
    height: 95vh;
    width: 100%;
  }
}
.hero-btm .hero-img-wrapper-btm {
  width: 100%;
  height: 68%;
  background-image: url(/Mammut-responsive/slike/hero-background/hero-background-dwn.png);
  background-size: cover;
  background-position: center;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .hero-btm .hero-img-wrapper-btm {
    height: 100%;
    width: 68%;
  }
}
.hero-btm .hero-content-wrapper-btm {
  width: 100%;
  height: 32%;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 1024px) {
  .hero-btm .hero-content-wrapper-btm {
    height: 100%;
    width: 32%;
    position: relative;
    position: absolute;
    right: 0;
  }
}
.hero-btm .hero-content-wrapper-btm .hero-title-btm {
  font-size: 4.5rem;
  color: #fff;
  position: absolute;
  left: 5%;
  top: 20%;
}
@media screen and (min-width: 1024px) {
  .hero-btm .hero-content-wrapper-btm .hero-title-btm {
    top: 20%;
    width: 70%;
    right: 0;
  }
}
.hero-btm .hero-content-wrapper-btm .hero-text-btm {
  width: 60%;
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  left: 5%;
  top: 40%;
}
@media screen and (min-width: 1024px) {
  .hero-btm .hero-content-wrapper-btm .hero-text-btm {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .hero-btm .hero-content-wrapper-btm .hero-text-btm {
    top: 50%;
    width: 90%;
  }
}

.gear-class-list-container {
  width: 100%;
  height: 65vh;
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container {
    height: 30vh;
  }
}
.gear-class-list-container .gear-class-list-switch {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  display: none;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-switch {
    display: flex;
    align-items: center;
    height: 50%;
    position: absolute;
  }
}
.gear-class-list-container .gear-class-list {
  width: 100%;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list {
    display: flex;
    align-items: center;
    height: 50%;
    position: absolute;
  }
}
.gear-class-list-container .gear-class-list-item {
  display: inline-block;
  width: 100%;
  height: 31.6666666667%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item {
    caret-color: 30%;
    height: 100%;
    position: relative;
  }
}
.gear-class-list-container .gear-class-list-item .gear-class-list-item-text {
  position: absolute;
  font-size: 2rem;
  left: 5%;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-item-text {
    font-size: 1.5rem;
    left: 2%;
  }
}
.gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper {
  width: 30rem;
  height: 10rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-left {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  translate: 15rem;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-left {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-left {
    translate: 23rem;
  }
}
.gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-mid {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  translate: 15rem;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-mid {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-mid {
    translate: 23rem;
  }
}
.gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-right {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  translate: 15rem;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-right {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .gear-class-list-item .gear-class-list-icon-wrapper .gear-class-list-icon-right {
    translate: 23rem;
  }
}
.gear-class-list-container .gear-class-list-item:hover .gear-class-list-icon-left {
  translate: 8.5rem;
}
.gear-class-list-container .gear-class-list-item:hover .gear-class-list-icon-mid {
  translate: 8.5rem;
}
.gear-class-list-container .gear-class-list-item:hover .gear-class-list-icon-right {
  translate: 8.5rem;
}
.gear-class-list-container .border-line {
  display: inline-block;
  width: 90%;
  height: 0.2rem;
  margin: 0 5%;
  background-color: #b3b1b1;
  border-radius: 2rem;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .border-line {
    width: 0.2rem;
    height: 80%;
    margin: 0;
  }
}
.gear-class-list-container .border-line-switch {
  display: inline-block;
  width: 90%;
  height: 0.2rem;
  margin: 0 5%;
  background-color: #b3b1b1;
  border-radius: 2rem;
}
@media screen and (min-width: 1024px) {
  .gear-class-list-container .border-line-switch {
    display: none;
  }
}

.footer-main {
  width: 100%;
  height: 250vh;
  background-color: #23293c;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .footer-main {
    height: 100vh;
  }
}
.footer-main .footer-communications-nav {
  width: 80%;
  height: 30rem;
  position: absolute;
  top: 5%;
  left: 10%;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav {
    width: 60%;
    left: 0%;
    top: 2%;
  }
}
.footer-main .footer-communications-nav .footer-communications-nav-item-topl {
  width: 45%;
  height: 13rem;
  display: inline-block;
  align-self: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  top: 0.5rem;
}
.footer-main .footer-communications-nav .footer-communications-nav-item-topr {
  width: 45%;
  height: 13rem;
  display: inline-block;
  align-self: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav .footer-communications-nav-item-topr {
    right: 4rem;
  }
}
.footer-main .footer-communications-nav .footer-communications-nav-item-btml {
  width: 45%;
  height: 13rem;
  display: inline-block;
  align-self: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  bottom: 0.5rem;
}
.footer-main .footer-communications-nav .footer-communications-nav-item-btmr {
  width: 45%;
  height: 13rem;
  display: inline-block;
  align-self: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav .footer-communications-nav-item-btmr {
    right: 4rem;
  }
}
.footer-main .footer-communications-nav .footer-communications-nav-item-icon-wrapper {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background-color: #303851;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav .footer-communications-nav-item-icon-wrapper {
    left: 0;
    top: initial;
  }
}
.footer-main .footer-communications-nav .footer-communications-nav-item-icon-wrapper:hover {
  background-color: #23293c;
}
.footer-main .footer-communications-nav .footer-communications-nav-item-heading {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 7.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav .footer-communications-nav-item-heading {
    top: 4rem;
    left: 8rem;
  }
}
.footer-main .footer-communications-nav .footer-communications-nav-item-text {
  font-size: 1.2rem;
  color: #97999e;
  position: absolute;
  bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-communications-nav .footer-communications-nav-item-text {
    top: 8rem;
    left: 8rem;
  }
}
.footer-main .footer-main-nav {
  position: absolute;
  width: 90%;
  height: 30rem;
  left: 5%;
  right: 5%;
  top: 30%;
  border-top: 0.2rem solid #454a59;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-main-nav {
    width: 40%;
    left: initial;
    height: 25rem;
    right: 1%;
    top: 5%;
  }
}
.footer-main .footer-main-nav .footer-main-nav-item {
  display: inline-block;
  width: 100%;
  height: 25%;
  border-bottom: 0.2rem solid #454a59;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer-main .footer-main-nav .footer-main-nav-item .arrow-container-footer {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -100%;
  transition: all 0.3s ease-in-out;
  width: 10%;
}
.footer-main .footer-main-nav .footer-main-nav-item .arrow-container-footer .arrow-line-footer {
  border-radius: 1.5rem;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.footer-main .footer-main-nav .footer-main-nav-item .arrow-container-footer .arrow-line-point-up-footer {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: 45deg;
  translate: 1rem -0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.footer-main .footer-main-nav .footer-main-nav-item .arrow-container-footer .arrow-line-point-down-footer {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: -45deg;
  translate: 1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.footer-main .footer-main-nav .footer-main-nav-item .footer-main-nav-item-text {
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  transition: all 0.25s ease-in-out;
}
.footer-main .footer-main-nav .footer-main-nav-item:hover .arrow-container-footer {
  translate: 0;
}
.footer-main .footer-main-nav .footer-main-nav-item:hover .arrow-line-footer {
  background-color: #fff;
}
.footer-main .footer-main-nav .footer-main-nav-item:hover .arrow-line-point-up-footer {
  background-color: #fff;
}
.footer-main .footer-main-nav .footer-main-nav-item:hover .arrow-line-point-down-footer {
  background-color: #fff;
}
.footer-main .footer-main-nav .footer-main-nav-item:hover .footer-main-nav-item-text {
  translate: 5.5rem;
}
.footer-main .footer-description-wrapper {
  width: 90%;
  height: 15rem;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 52%;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-description-wrapper {
    width: 50%;
    left: 2.5%;
    top: 50%;
    right: initial;
  }
}
.footer-main .footer-description-wrapper .footer-description-heading {
  font-size: 1.2rem;
  color: #707992;
  position: absolute;
  top: 10%;
}
.footer-main .footer-description-wrapper .footer-description-text {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 30%;
}
.footer-main .footer-sub-nav-left {
  position: relative;
  position: absolute;
  width: 15rem;
  top: 60%;
  left: 5%;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-sub-nav-left {
    left: initial;
    right: 30%;
    top: 50%;
  }
}
.footer-main .footer-sub-nav-right {
  position: relative;
  position: absolute;
  width: 15rem;
  top: 60%;
  left: 50%;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-sub-nav-right {
    left: initial;
    right: 5%;
    top: 50%;
  }
}
.footer-main .footer-sub-nav-heading {
  display: inline-block;
  font-size: 1.2rem;
  color: #707992;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.footer-main .footer-sub-nav-item {
  display: inline-block;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.footer-main .footer-sub-nav-item .arrow-container-footer-sub-nav {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -100%;
  transition: all 0.3s ease-in-out;
  width: 10%;
}
.footer-main .footer-sub-nav-item .arrow-container-footer-sub-nav .arrow-line-footer-sub-nav {
  border-radius: 1.5rem;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.footer-main .footer-sub-nav-item .arrow-container-footer-sub-nav .arrow-line-point-up-footer-sub-nav {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: 45deg;
  translate: 1rem -0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.footer-main .footer-sub-nav-item .arrow-container-footer-sub-nav .arrow-line-point-down-footer-sub-nav {
  width: 1rem;
  height: 0.2rem;
  background-color: transparent;
  position: absolute;
  rotate: -45deg;
  translate: 1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.footer-main .footer-sub-nav-item .footer-sub-nav-item-text {
  font-size: 1.6rem;
  position: absolute;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer-main .footer-sub-nav-item:hover .arrow-container-footer-sub-nav {
  translate: 0;
}
.footer-main .footer-sub-nav-item:hover .arrow-line-footer-sub-nav {
  background-color: #fff;
}
.footer-main .footer-sub-nav-item:hover .arrow-line-point-up-footer-sub-nav {
  background-color: #fff;
}
.footer-main .footer-sub-nav-item:hover .arrow-line-point-down-footer-sub-nav {
  background-color: #fff;
}
.footer-main .footer-sub-nav-item:hover .footer-sub-nav-item-text {
  translate: 3rem;
}
.footer-main .footer-country-switch {
  width: 25rem;
  height: 10rem;
  position: absolute;
  top: 75%;
  left: 5%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-country-switch {
    top: 77%;
    left: 2.5%;
  }
}
.footer-main .footer-country-switch .footer-country-switch-icon-wrapper {
  height: 7rem;
  width: 7rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.footer-main .footer-country-switch .footer-country-switch-heading {
  font-size: 1.6rem;
  color: white;
  position: absolute;
  top: 30%;
  left: 30%;
}
.footer-main .footer-country-switch .footer-country-switch-text {
  font-size: 1.2rem;
  color: #707992;
  position: absolute;
  bottom: 30%;
  left: 30%;
}
.footer-main .footer-legal-nav {
  width: 70%;
  height: 4rem;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 85%;
}
@media screen and (min-width: 1024px) {
  .footer-main .footer-legal-nav {
    width: 45%;
    left: 0;
    right: initial;
    top: 92%;
  }
}
.footer-main .footer-legal-nav .footer-legal-nav-item {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main .footer-legal-nav .footer-legal-nav-item .footer-legal-nav-item-text {
  color: white;
  font-size: 1.1rem;
}/*# sourceMappingURL=style.css.map */