$primary-color: #23293c ;
$laptop: 1024px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100rem;
}

@mixin hero {
    width: 100%;
    height: 170vh;
    position: absolute;
    position: relative;
    background-color: $primary-color;
    display: flex;
    @media screen and (min-width: $laptop) {
        height: 95vh;
        width: 100%;
    }
}

@mixin hero-img-wrapper($background) {
    width: 100%;
    height: 68%;
    background-image: $background;
    background-size: cover;
    background-position: center;
    position: absolute;
    @media screen and (min-width: $laptop) {
        height: 100%;
        width: 68%;
    }
}

@mixin hero-content-wrapper {
    width: 100%;
    height: 32%;
    position: absolute;
    bottom: 0;
    @media screen and (min-width: $laptop) {
        height: 100%;
        width: 32%;
        position: relative;
        position: absolute;
        right: 0;  
    }
}

@mixin hero-title {
    font-size: 4.5rem;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 20%;
}

@mixin hero-text {
    width: 60%;
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 40%;
}

@mixin background($background) {
    background-image: $background;
    background-size: cover;
    background-position: center;
}

@mixin arrow-container {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: -100%;
    transition: all .3s ease-in-out;
}

@mixin arrow-line($width, $height,) {
    border-radius: 2px;
    position: absolute;
    width: $width;
    height: $height;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

@mixin arrow-line-point-up($width, $height,) {
    width: $width;
    height: $height;
    background-color: transparent;
    position: absolute;
    rotate: 45deg;
    translate: $width calc($height * -1);
    transition: all .3s ease-in-out;
    border-radius: 2px;
}

@mixin arrow-line-point-down($width, $height,) {
    width: $width;
    height: $height;
    background-color: transparent;
    position: absolute;
    rotate: -45deg;
    translate: $width $height;
    transition: all .3s ease-in-out;
    border-radius: 2px;
}

@mixin translate0 {
    translate: 0;
}

@mixin arrow-hover($color) {
    background-color: $color;
}
   
.main-header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    position: relative;
    position: absolute;

    .overhead-bar {
        width: 0%;
        height: 0.2rem;
        background-color: #e00b25;
        border-radius: 3px;
        position: absolute;
        position: fixed;
        z-index: 10;
        transition: all 1s ease-in-out;
    }

    .logo-wrapper {
        width: 13rem;
        height: 2rem;
        position: absolute;
        align-self: center;
        transition: all .4s ease-in-out;
        translate: 0 -5rem;
        z-index: 1;

        .logo {
            width: 100%;
            height: 100%;
        }
    }
}
.menu-btn-wrapper {
    width: 100%;
    height: 90px;
    position: relative;
    position: absolute;
    z-index: 5;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    @media screen and (min-width: $laptop) {
        top: 0;
        height: 7rem;
        position: absolute;
    }


    .menu-btn {
        width: 70px;
        height: 70px;
        background-color: rgb(241, 240, 240);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 6;
        transition: all .5s ease-in-out;
        translate: 0 100px;
        @media screen and (min-width: $laptop) {
            position: absolute;
            left: 5%;
            width: 20px;
            height: 20px;
            border-radius: 0;
            background-color: transparent;
            translate: 0 -100px;
        }

        @mixin menu-btn-burger {
            width: 20px;
            height: 2px;
            border-radius: 2px;
            background-color: #000;
            position: absolute;
            
        }

        .menu-btn-burger-mid {
            @include menu-btn-burger();
            @media screen and (min-width: $laptop) {
                display: none;
            }
        }
        .menu-btn-burger-top {
            @include menu-btn-burger();
            top: 27px;
            @media screen and (min-width: $laptop) {
                top: 3.5px;
                background-color: #fff;
            }
        }
        .menu-btn-burger-btm {
            @include menu-btn-burger();
            bottom: 27px;
            @media screen and (min-width: $laptop) {
                bottom: 3.5px;
                background-color: #fff;
            }
        }
    }

    .menu-loop-basket-wrapper {
        width: 0px;
        height: 40px;
        background-color: rgb(233, 230, 230);
        position: absolute;
        border-radius: 20px;
        display: flex;
        align-items: center;
        transition: all .5s ease-in-out;
        translate: 0 100px;
        @media screen and (min-width: $laptop) {
            right: 5%;
            width: 170px;
            translate: 0 -100px;
            background-color: transparent;
        }

        @mixin menu-loop-basket-wrapper-item {
            display: inline-block;
            display: flex;
            position: relative;
            position: absolute;
            width: 30px;
            height: 30px;
            transition: all .3s ease-in-out;
            overflow: hidden;
        }

        .menu-account-wrapper {
            @include menu-loop-basket-wrapper-item();
            display: none;
            @media screen and (min-width: $laptop) {
                display: initial;
                left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .account-head {
                width: 12px;
                height: 12px;
                border: 3px solid #000;
                border-radius: 50%;
                position: absolute;
                top: 6px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    border-color: #fff;;
                }
            }

            .account-body {
                width: 25px;
                height: 25px;
                border: 3px solid #000;
                border-radius: 40%;
                position: absolute;
                bottom: -15px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    border-color: #fff;
                }
            }
        }

        .menu-loop-wrapper {
            @include menu-loop-basket-wrapper-item();
            left: 20px;
            @media screen and (min-width: $laptop) {
                left: 70px;
            }

            .loop-curcle {
                width: 23px;
                height: 23px;
                position: absolute;
                border: 3px solid #000;
                border-radius: 50%;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    border-color: #fff;
                }
            }

            .loop-handle {
                width: 10px;
                height: 2px;
                border-radius: 2px;
                position: absolute;
                background-color: #000;
                bottom: 5px;
                right: -1px;
                rotate: 45deg;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    background-color: #fff;
                }
            }
        }

        .menu-basket-wrapper {
            @include menu-loop-basket-wrapper-item();
            justify-content: center;
            align-items: center;
            right: 20px;

            .basket-handle {
                width: 10px;
                height: 6px;
                border: 3px solid #000;
                border-bottom: 0;
                position: absolute;
                top: 5px;
                border-radius: 2px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    border-color: #fff;
                }
            }
            
            .basket-mid {
                width: 29px;
                height: 2px;
                background-color: #000;
                position: absolute;
                top: 10px;
                border-radius: 2px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    background-color: #fff;
                }
            }

            @mixin basket-side {
                width: 2px;
                height: 15px;
                background-color: #000;
                border-radius: 2px;
                position: absolute;
                bottom: 5px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    background-color: #fff;
                }
            }

            .basket-side-left {
                @include basket-side();
                left: 1px;
                rotate: -10deg;
            }
            .basket-side-right {
                @include basket-side();
                right: 1px;
                rotate: 10deg;
            }

            .basket-btm {
                width: 24px;
                height: 2px;
                border-radius: 2px;
                background-color: #000;
                position: absolute;
                bottom: 4px;
                transition: all .3s ease-in-out;
                @media screen and (min-width: $laptop) {
                    background-color: #fff;
                }
            }
        }
    }
}

.hero-up {
    @include hero();
    
    .hero-img-wrapper-up {
        @include hero-img-wrapper(url(/Mammut-responsive/slike/hero-background/hero-background-up.txt))
    }

    .hero-content-wrapper-up {
        @include hero-content-wrapper();

        .hero-title-up {
            @include hero-title();
        }
        .hero-text-up {
           @include hero-text();
           
        }

        .class-list {
            width: 300px;
            height: 4rem;
            position: relative;
            position: absolute;
            display: flex;
            left: 5%;
            top: 60%;
            @media screen and (min-width: $laptop) {
                left: 5%;
            }
            
            .class-list-item {
                width: 100px;
                height: 100%;
                display: inline-block;
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                cursor: pointer;

                .arrow-container-hero {
                    @include arrow-container();
                     
                    .arrow-line-hero {
                        @include arrow-line(1.5rem , 0.2rem)
                    }
                    
                    .arrow-line-point-up-hero {
                        @include arrow-line-point-up(0.5rem , 0.15rem ,) 
                    }

                    .arrow-line-point-down-hero {
                        @include arrow-line-point-down(0.5rem , 0.15rem ,)  
                    }
                }
                
                .class-list-item-text {
                    font-size: 1.3rem;
                    color: #fff;
                    position: absolute;
                    transition: all .2s ease-in-out;
                }
            }
           
            .class-list-item:hover .arrow-container-hero{
                @include translate0;
                
                .arrow-line-hero {
                    @include arrow-hover(#fff);
                }
                
                .arrow-line-point-up-hero {
                    @include arrow-hover(#fff);
                }
                
                .arrow-line-point-down-hero {
                    @include arrow-hover(#fff);
                }
            }
            .class-list-item:hover .class-list-item-text {
                translate: 3rem;
            }
        }
    }
}



.category-container {
    width: 100%;
    height: 85vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    @media screen and (min-width: $laptop) {
        height: 45vh;
    }

    .category-container-heading {
        font-size: 2.5rem;
        color: #000;
        margin: 7rem 4rem;
        width: 100%;
        @media screen and (min-width: $laptop) {
            width: 30%;
            position: absolute;
            left: 0;
        }
    }

    .category-card-wrapper {
        width: 100%;
        height: 40%;
        position: absolute;
        align-self: center;
        display: flex;
        justify-content: center;
        @media screen and (min-width: $laptop) {
            width: 65%;
            height: 65%;
            position: absolute;
            right: 0;
        }

        .category-card {
            display: inline-block;
            width: 30%;
            height: 100%;
            margin: 0 1rem;
            display: flex;
        }

        .category-card-left {
            @include background(url(/Mammut-responsive/slike/category-card-backround/clothing.txt))
        }
        .category-card-mid {
            @include background(url(/Mammut-responsive/slike/category-card-backround/footwear.txt))
        }
        .category-card-right {
            @include background(url(/Mammut-responsive/slike/category-card-backround/equipment.txt))
        }
    }
}

.hero-mid {
    width: 100%;
    height: 90vh;
    position: absolute;
    position: relative;
    background-color: $primary-color;
    display: flex;
}

.gender-category-container {
    width: 100%;
    height: 250vh;
    position: relative;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $laptop) {
        height: 95vh;
    }

    @mixin gender-category-card {
        width: 80%;
        height: 100vh;
        border: 1px solid black;
        position: absolute;
        @media screen and (min-width: $laptop) {
            height: 70vh;
            width: 40%;
        }
    }

    .gender-category-card-men {
        @include gender-category-card();
        @include background(url(/Mammut-responsive/slike/gender-category-background/men.txt));
        top: 20vh;
        @media screen and (min-width: $laptop) {
            left: 7%;
            top: 5vh;
        }
    }
    .gender-category-card-women {
        @include gender-category-card();
        @include background(url(/Mammut-responsive/slike/gender-category-background/women.txt));
        bottom: 20vh;
        @media screen and (min-width: $laptop) {
            right: 7%;
            bottom: 5vh;
        }
    }
}

.hero-btm {
   @include hero();

   .hero-img-wrapper-btm {
    @include hero-img-wrapper(url(/Mammut-responsive/slike/hero-background/hero-background-dwn.png))
   }

   .hero-content-wrapper-btm {
    @include hero-content-wrapper();
    
    .hero-title-btm {
        @include hero-title();
       }
    
       .hero-text-btm {
        @include hero-text();
        @media screen and (min-width: $laptop) {
            top: 50%;
            width: 90%;
        }
       }
   }
}







